{% extends "base.html" %}

{% block content %}
<h1>{{ course.title }}</h1>
<p>{{ course.content }}</p>

<h2>Программа курса</h2>
{% for lesson in lessons %}
    <p>
        <a href="{% url 'lesson_detail' lesson.id %}" class="lesson-link">
            {{ lesson.title }}
        </a>
    </p>
{% empty %}
    <p>В этом курсе пока нет уроков.</p>
{% endfor %}



{% if user in course.students.all %}
    <p>Вы уже записаны на этот курс!</p>
{% else %}
    <a href="{% url 'enroll' course.id %}" class="btn btn-primary">Записаться</a>
{% endif %}

<a href="{% url 'dashboard' %}" class="btn btn-secondary">Вернуться к курсам</a>
{% endblock %}
